/*
* Стили компонента Buton (Load more)
*/
.button {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #fbbd0d;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #2d2c2e;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 4px 4px 10px 0 rgb(37 38 50 / 70%);
}

.button:hover,
.button:focus {
  background-color: #fbbd0d;
  opacity: 0.8;
}
